body {
    background: no-repeat;
    background-image: url(fon.jpg) ;
    background-position: 0 220px ;
    background-size: 1440px 1080px;
}
.header, .links, .footer {
    background-color: #E5E000;
    width: 1440px;
    
}
h2,h3, h4 {
    color: rgb(247, 250, 252);
}
.header h2 {
    padding: 80px;
}
.header {
    height: 200px;
}
.footer  {
    display: flex;   
    color: hwb(0 98% 1%);
    height: 200px;
    align-items: center;
}
.links {
    margin-top: 1080px;
    height: 100px;
}
.links h3 {
    padding-left: 80px;
    padding-top: 36px;
}
.landing  {
    display:flex;
    width: 1280px;
    flex-direction: column;
    margin-left: 80px;
}
.logo {
    margin-left: 80px; 
    margin-right: 500px;;
}
#osnovy {
    font-size: 46px;
}

